.read-content {
  position: absolute;

  font-size: 1.2rem;
  font-weight: bold;
  bottom: 30px;
  opacity: 0;

  animation: readAnimation 1.5s infinite;
}

@keyframes readAnimation {
  100% {
    bottom: 60px;
    opacity: 1;
  }
}
