/* GENERAL */
:root {
  --header: #2c2d33;
  --background: #eee;
  --letters: #d9d9d9;
  --no-read: #b66464;
  --read: #92b664;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  background-color: var(--background);
  color: var(--letters);
}

/* HEADER */
.header {
  background-color: var(--header);

  width: 100%;
  margin-bottom: 20px;
  padding: 20px 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 2rem;
}

.nav {
  display: flex;
  gap: 20px;
}

/* MAIN */
.main {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.add-book-button {
  min-width: 400px;
  padding: 10px 0;
  border: none;

  font-size: 1.3rem;
  font-weight: bold;

  color: var(--letters);
  background-color: var(--header);

  border: 3px solid var(--header);

  border-radius: 15px;

  cursor: pointer;
  transition: 0.3s;
}

.add-book-button:hover {
  background-color: var(--background);
  color: var(--header);
}

.library {
  max-width: 1500px;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.book {
  min-width: 400px;
  min-height: 165px;

  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;

  background-color: var(--header);
  border-radius: 15px;

  border-left: 10px solid var(--no-read);
}

.read {
  border-left: 10px solid var(--read);
}

.book-name {
  font-size: 2em;
}

.author-name,
.total-pages {
  font-weight: bold;
}

.author-name {
  cursor: pointer;
}

.author-name:hover {
  color: var(--line);
  text-decoration: underline;
}

.book-options {
  align-self: flex-end;

  display: flex;
  align-items: center;
}

.open-menu-button {
  display: none;
}

.book:hover .book-options .open-menu-button {
  display: inline;
}

/* MENU */
.menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;

  background-color: var(--header);
  padding: 25px;
  border-radius: 15px;
}

.close-menu-button,
.menu-buttons {
  align-self: flex-end;
}

.hide {
  display: none;
}

input[type="checkbox"] {
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  transform: scale(2);
  padding: 10px;
  margin: 10px;

  accent-color: var(--read);
  cursor: pointer;
}
